/*
    Author: Destyasti Widi;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.clearfix {
  float: none;
  clear: both;
}

.tbl-full {
  width: 100%;
}
.tbl-30 {
  width: 30%;
}

table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}

table tr td {
  padding: 1%;
}

.btn-primary {
  background-color: #45aaf2;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #3867d6;
}

.btn-secondary {
  background-color: #0be881;
  padding: 1%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #05c46b;
}

.btn-danger {
  background-color: #fc5c65;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #eb3b5a;
}

.success {
  color: #2ed573;
}
.error {
  color: #ff4757;
}

/* CSS for Menu */
.menu {
  border-bottom: 1px solid grey;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #f79f1f;
}
.menu ul li a:hover {
  color: #ea2027;
}

/* CSS for main-content */
.main-content {
  background-color: #dfe4ea;
  padding: 1% 0;
}

.col-4 {
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}
/* CSS for Footer */
.footer {
  background-color: #ea2027;
  color: white;
}

/* CSS for Login */
.login {
  border: 3px solid black;
  width: 20%;
  margin: 10% auto;
  padding: 2%;
}
